RSDN/Web References/ru.rsdn/forum.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://rsdn.ru/ws/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://rsdn.ru/ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rsdn.ru/ws/">
      <s:element name="GroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupListResult" type="s0:group_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="group_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="groups" type="s0:ArrayOfGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="group" type="s0:group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="group">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtc" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupListResult" type="s0:group_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupInfoResult" type="s0:group" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authorid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fmtmessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="homePage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFormattedArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleByIDResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleByIDResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticleListResult" type="s0:article_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="articles" type="s0:ArrayOfArticle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArticle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="article" nillable="true" type="s0:article" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticationResult" type="s0:auth_info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="auth_info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ok" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s0:LinkType" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LinkType">
        <s:restriction base="s:string">
          <s:enumeration value="MSDN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkResult" type="s0:link" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="link">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostMIMEMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMIMEMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostMIMEMessageResult" type="s0:post_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="post_result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ok" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostUnicodeMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUnicodeMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostUnicodeMessageResult" type="s0:post_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GroupListSoapIn">
    <part name="parameters" element="s0:GroupList" />
  </message>
  <message name="GroupListSoapOut">
    <part name="parameters" element="s0:GroupListResponse" />
  </message>
  <message name="GetGroupListSoapIn">
    <part name="parameters" element="s0:GetGroupList" />
  </message>
  <message name="GetGroupListSoapOut">
    <part name="parameters" element="s0:GetGroupListResponse" />
  </message>
  <message name="GroupInfoSoapIn">
    <part name="parameters" element="s0:GroupInfo" />
  </message>
  <message name="GroupInfoSoapOut">
    <part name="parameters" element="s0:GroupInfoResponse" />
  </message>
  <message name="GetArticleSoapIn">
    <part name="parameters" element="s0:GetArticle" />
  </message>
  <message name="GetArticleSoapOut">
    <part name="parameters" element="s0:GetArticleResponse" />
  </message>
  <message name="GetFormattedArticleSoapIn">
    <part name="parameters" element="s0:GetFormattedArticle" />
  </message>
  <message name="GetFormattedArticleSoapOut">
    <part name="parameters" element="s0:GetFormattedArticleResponse" />
  </message>
  <message name="GetArticleByIDSoapIn">
    <part name="parameters" element="s0:GetArticleByID" />
  </message>
  <message name="GetArticleByIDSoapOut">
    <part name="parameters" element="s0:GetArticleByIDResponse" />
  </message>
  <message name="GetFormattedArticleByIDSoapIn">
    <part name="parameters" element="s0:GetFormattedArticleByID" />
  </message>
  <message name="GetFormattedArticleByIDSoapOut">
    <part name="parameters" element="s0:GetFormattedArticleByIDResponse" />
  </message>
  <message name="ArticleListSoapIn">
    <part name="parameters" element="s0:ArticleList" />
  </message>
  <message name="ArticleListSoapOut">
    <part name="parameters" element="s0:ArticleListResponse" />
  </message>
  <message name="AuthenticationSoapIn">
    <part name="parameters" element="s0:Authentication" />
  </message>
  <message name="AuthenticationSoapOut">
    <part name="parameters" element="s0:AuthenticationResponse" />
  </message>
  <message name="GetLinkSoapIn">
    <part name="parameters" element="s0:GetLink" />
  </message>
  <message name="GetLinkSoapOut">
    <part name="parameters" element="s0:GetLinkResponse" />
  </message>
  <message name="PostMIMEMessageSoapIn">
    <part name="parameters" element="s0:PostMIMEMessage" />
  </message>
  <message name="PostMIMEMessageSoapOut">
    <part name="parameters" element="s0:PostMIMEMessageResponse" />
  </message>
  <message name="PostUnicodeMessageSoapIn">
    <part name="parameters" element="s0:PostUnicodeMessage" />
  </message>
  <message name="PostUnicodeMessageSoapOut">
    <part name="parameters" element="s0:PostUnicodeMessageResponse" />
  </message>
  <portType name="ForumSoap">
    <operation name="GroupList">
      <documentation>Obsolete.</documentation>
      <input message="s0:GroupListSoapIn" />
      <output message="s0:GroupListSoapOut" />
    </operation>
    <operation name="GetGroupList">
      <documentation>Returns a list of groups.</documentation>
      <input message="s0:GetGroupListSoapIn" />
      <output message="s0:GetGroupListSoapOut" />
    </operation>
    <operation name="GroupInfo">
      <documentation>Returns information about the group.</documentation>
      <input message="s0:GroupInfoSoapIn" />
      <output message="s0:GroupInfoSoapOut" />
    </operation>
    <operation name="GetArticle">
      <documentation>Returns information about the article.</documentation>
      <input message="s0:GetArticleSoapIn" />
      <output message="s0:GetArticleSoapOut" />
    </operation>
    <operation name="GetFormattedArticle">
      <documentation>Returns formated article.</documentation>
      <input message="s0:GetFormattedArticleSoapIn" />
      <output message="s0:GetFormattedArticleSoapOut" />
    </operation>
    <operation name="GetArticleByID">
      <documentation>Returns information about the article by message ID.</documentation>
      <input message="s0:GetArticleByIDSoapIn" />
      <output message="s0:GetArticleByIDSoapOut" />
    </operation>
    <operation name="GetFormattedArticleByID">
      <documentation>Returns formated article by message ID.</documentation>
      <input message="s0:GetFormattedArticleByIDSoapIn" />
      <output message="s0:GetFormattedArticleByIDSoapOut" />
    </operation>
    <operation name="ArticleList">
      <documentation>Returns a list of articles.</documentation>
      <input message="s0:ArticleListSoapIn" />
      <output message="s0:ArticleListSoapOut" />
    </operation>
    <operation name="Authentication">
      <documentation>Performs user authentication.</documentation>
      <input message="s0:AuthenticationSoapIn" />
      <output message="s0:AuthenticationSoapOut" />
    </operation>
    <operation name="GetLink">
      <documentation>Returns link information.</documentation>
      <input message="s0:GetLinkSoapIn" />
      <output message="s0:GetLinkSoapOut" />
    </operation>
    <operation name="PostMIMEMessage">
      <documentation>Accepts MIME formatted message postings.</documentation>
      <input message="s0:PostMIMEMessageSoapIn" />
      <output message="s0:PostMIMEMessageSoapOut" />
    </operation>
    <operation name="PostUnicodeMessage">
      <documentation>Accepts Unicode formatted message postings.</documentation>
      <input message="s0:PostUnicodeMessageSoapIn" />
      <output message="s0:PostUnicodeMessageSoapOut" />
    </operation>
  </portType>
  <binding name="ForumSoap" type="s0:ForumSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GroupList">
      <soap:operation soapAction="http://rsdn.ru/ws/GroupList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGroupList">
      <soap:operation soapAction="http://rsdn.ru/ws/GetGroupList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GroupInfo">
      <soap:operation soapAction="http://rsdn.ru/ws/GroupInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetArticle">
      <soap:operation soapAction="http://rsdn.ru/ws/GetArticle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFormattedArticle">
      <soap:operation soapAction="http://rsdn.ru/ws/GetFormattedArticle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws/GetArticleByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFormattedArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws/GetFormattedArticleByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ArticleList">
      <soap:operation soapAction="http://rsdn.ru/ws/ArticleList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Authentication">
      <soap:operation soapAction="http://rsdn.ru/ws/Authentication" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLink">
      <soap:operation soapAction="http://rsdn.ru/ws/GetLink" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PostMIMEMessage">
      <soap:operation soapAction="http://rsdn.ru/ws/PostMIMEMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PostUnicodeMessage">
      <soap:operation soapAction="http://rsdn.ru/ws/PostUnicodeMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Forum">
    <documentation>The service provides access to the RSDN forums. Desktop client for Outlook Express can be downloaded &lt;a href=http://www.rsdn.ru/?files/?Progs/desktop.xml&gt;right here&lt;/a&gt;.</documentation>
    <port name="ForumSoap" binding="s0:ForumSoap">
      <soap:address location="http://rsdn.ru/ws/forum.asmx" />
    </port>
  </service>
</definitions>