RSDN/Web References/RsdnService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://rsdn.ru/ws/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://rsdn.ru/ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rsdn.ru/ws/">
      <s:element name="PostMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostMessageResult" type="s0:post_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="post_result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ok" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s0:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserRole" type="s0:UserRole" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Activated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Specialization" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendMail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageFormat" type="s0:MessageFormat" />
          <s:element minOccurs="1" maxOccurs="1" name="ForwardType" type="s0:ForwardType" />
          <s:element minOccurs="1" maxOccurs="1" name="StopMail" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Flat" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFlat" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WhereFrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCrawler" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BanDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleColor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserRole">
        <s:restriction base="s:string">
          <s:enumeration value="Admin" />
          <s:enumeration value="Moderator" />
          <s:enumeration value="TeamMember" />
          <s:enumeration value="User" />
          <s:enumeration value="Expert" />
          <s:enumeration value="Anonym" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageFormat">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Text" />
              <s:enumeration value="Html" />
              <s:enumeration value="TextHtml" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="ForwardType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Private" />
          <s:enumeration value="Public" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUserInfoByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByIDResult" type="s0:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtc" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupListResult" type="s0:group_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="group_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="groups" type="s0:ArrayOfGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="group" type="s0:group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="group">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GroupInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupInfoResult" type="s0:group" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authorid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fmtmessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="userColor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="homePage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="smile" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFormattedArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleByIDResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleByIDResult" type="s0:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticleListResult" type="s0:article_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="articles" type="s0:ArrayOfArticle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArticle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="article" nillable="true" type="s0:article" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArticleListFromDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groups" type="s0:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArticleListFromDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticleListFromDateResult" type="s0:article_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticationResult" type="s0:auth_info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="auth_info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ok" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s0:LinkType" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LinkType">
        <s:restriction base="s:string">
          <s:enumeration value="MSDN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkResult" type="s0:link" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="link">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="PostMessageSoapIn">
    <part name="parameters" element="s0:PostMessage" />
  </message>
  <message name="PostMessageSoapOut">
    <part name="parameters" element="s0:PostMessageResponse" />
  </message>
  <message name="GetUserInfoSoapIn">
    <part name="parameters" element="s0:GetUserInfo" />
  </message>
  <message name="GetUserInfoSoapOut">
    <part name="parameters" element="s0:GetUserInfoResponse" />
  </message>
  <message name="GetUserInfoByIDSoapIn">
    <part name="parameters" element="s0:GetUserInfoByID" />
  </message>
  <message name="GetUserInfoByIDSoapOut">
    <part name="parameters" element="s0:GetUserInfoByIDResponse" />
  </message>
  <message name="GetGroupListSoapIn">
    <part name="parameters" element="s0:GetGroupList" />
  </message>
  <message name="GetGroupListSoapOut">
    <part name="parameters" element="s0:GetGroupListResponse" />
  </message>
  <message name="GroupInfoSoapIn">
    <part name="parameters" element="s0:GroupInfo" />
  </message>
  <message name="GroupInfoSoapOut">
    <part name="parameters" element="s0:GroupInfoResponse" />
  </message>
  <message name="GetArticleSoapIn">
    <part name="parameters" element="s0:GetArticle" />
  </message>
  <message name="GetArticleSoapOut">
    <part name="parameters" element="s0:GetArticleResponse" />
  </message>
  <message name="GetFormattedArticleSoapIn">
    <part name="parameters" element="s0:GetFormattedArticle" />
  </message>
  <message name="GetFormattedArticleSoapOut">
    <part name="parameters" element="s0:GetFormattedArticleResponse" />
  </message>
  <message name="GetArticleByIDSoapIn">
    <part name="parameters" element="s0:GetArticleByID" />
  </message>
  <message name="GetArticleByIDSoapOut">
    <part name="parameters" element="s0:GetArticleByIDResponse" />
  </message>
  <message name="GetFormattedArticleByIDSoapIn">
    <part name="parameters" element="s0:GetFormattedArticleByID" />
  </message>
  <message name="GetFormattedArticleByIDSoapOut">
    <part name="parameters" element="s0:GetFormattedArticleByIDResponse" />
  </message>
  <message name="ArticleListSoapIn">
    <part name="parameters" element="s0:ArticleList" />
  </message>
  <message name="ArticleListSoapOut">
    <part name="parameters" element="s0:ArticleListResponse" />
  </message>
  <message name="ArticleListFromDateSoapIn">
    <part name="parameters" element="s0:ArticleListFromDate" />
  </message>
  <message name="ArticleListFromDateSoapOut">
    <part name="parameters" element="s0:ArticleListFromDateResponse" />
  </message>
  <message name="AuthenticationSoapIn">
    <part name="parameters" element="s0:Authentication" />
  </message>
  <message name="AuthenticationSoapOut">
    <part name="parameters" element="s0:AuthenticationResponse" />
  </message>
  <message name="GetLinkSoapIn">
    <part name="parameters" element="s0:GetLink" />
  </message>
  <message name="GetLinkSoapOut">
    <part name="parameters" element="s0:GetLinkResponse" />
  </message>
  <message name="PostFileSoapIn">
    <part name="parameters" element="s0:PostFile" />
  </message>
  <message name="PostFileSoapOut">
    <part name="parameters" element="s0:PostFileResponse" />
  </message>
  <portType name="ServiceSoap">
    <operation name="PostMessage">
      <documentation>Accepts Unicode formatted message postings.</documentation>
      <input message="s0:PostMessageSoapIn" />
      <output message="s0:PostMessageSoapOut" />
    </operation>
    <operation name="GetUserInfo">
      <documentation>Get inforamtion about user.</documentation>
      <input message="s0:GetUserInfoSoapIn" />
      <output message="s0:GetUserInfoSoapOut" />
    </operation>
    <operation name="GetUserInfoByID">
      <documentation>Get inforamtion about user by id.</documentation>
      <input message="s0:GetUserInfoByIDSoapIn" />
      <output message="s0:GetUserInfoByIDSoapOut" />
    </operation>
    <operation name="GetGroupList">
      <documentation>Returns a list of groups.</documentation>
      <input message="s0:GetGroupListSoapIn" />
      <output message="s0:GetGroupListSoapOut" />
    </operation>
    <operation name="GroupInfo">
      <documentation>Returns information about the group.</documentation>
      <input message="s0:GroupInfoSoapIn" />
      <output message="s0:GroupInfoSoapOut" />
    </operation>
    <operation name="GetArticle">
      <documentation>Returns information about the article.</documentation>
      <input message="s0:GetArticleSoapIn" />
      <output message="s0:GetArticleSoapOut" />
    </operation>
    <operation name="GetFormattedArticle">
      <documentation>Returns formated article.</documentation>
      <input message="s0:GetFormattedArticleSoapIn" />
      <output message="s0:GetFormattedArticleSoapOut" />
    </operation>
    <operation name="GetArticleByID">
      <documentation>Returns information about the article by message ID.</documentation>
      <input message="s0:GetArticleByIDSoapIn" />
      <output message="s0:GetArticleByIDSoapOut" />
    </operation>
    <operation name="GetFormattedArticleByID">
      <documentation>Returns formated article by message ID.</documentation>
      <input message="s0:GetFormattedArticleByIDSoapIn" />
      <output message="s0:GetFormattedArticleByIDSoapOut" />
    </operation>
    <operation name="ArticleList">
      <documentation>Returns a list of articles.</documentation>
      <input message="s0:ArticleListSoapIn" />
      <output message="s0:ArticleListSoapOut" />
    </operation>
    <operation name="ArticleListFromDate">
      <documentation>Returns a list of articles from specified date.</documentation>
      <input message="s0:ArticleListFromDateSoapIn" />
      <output message="s0:ArticleListFromDateSoapOut" />
    </operation>
    <operation name="Authentication">
      <documentation>Performs user authentication.</documentation>
      <input message="s0:AuthenticationSoapIn" />
      <output message="s0:AuthenticationSoapOut" />
    </operation>
    <operation name="GetLink">
      <documentation>Returns link information.</documentation>
      <input message="s0:GetLinkSoapIn" />
      <output message="s0:GetLinkSoapOut" />
    </operation>
    <operation name="PostFile">
      <documentation>Post a file to user storage.</documentation>
      <input message="s0:PostFileSoapIn" />
      <output message="s0:PostFileSoapOut" />
    </operation>
  </portType>
  <binding name="ServiceSoap" type="s0:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="PostMessage">
      <soap:operation soapAction="http://rsdn.ru/ws/PostMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserInfo">
      <soap:operation soapAction="http://rsdn.ru/ws/GetUserInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserInfoByID">
      <soap:operation soapAction="http://rsdn.ru/ws/GetUserInfoByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGroupList">
      <soap:operation soapAction="http://rsdn.ru/ws/GetGroupList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GroupInfo">
      <soap:operation soapAction="http://rsdn.ru/ws/GroupInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetArticle">
      <soap:operation soapAction="http://rsdn.ru/ws/GetArticle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFormattedArticle">
      <soap:operation soapAction="http://rsdn.ru/ws/GetFormattedArticle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws/GetArticleByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFormattedArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws/GetFormattedArticleByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ArticleList">
      <soap:operation soapAction="http://rsdn.ru/ws/ArticleList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ArticleListFromDate">
      <soap:operation soapAction="http://rsdn.ru/ws/ArticleListFromDate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Authentication">
      <soap:operation soapAction="http://rsdn.ru/ws/Authentication" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLink">
      <soap:operation soapAction="http://rsdn.ru/ws/GetLink" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PostFile">
      <soap:operation soapAction="http://rsdn.ru/ws/PostFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service">
    <documentation>The service provides access to the RSDN forums. </documentation>
    <port name="ServiceSoap" binding="s0:ServiceSoap">
      <soap:address location="http://rsdn.ru/ws/service.asmx" />
    </port>
  </service>
</definitions>