RSDN/Web References/RsdnService/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rsdn.ru/ws2/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://rsdn.ru/ws2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The service provides access to the RSDN forums. </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rsdn.ru/ws2/">
      <s:element name="PostMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserRole" type="tns:UserRole" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Activated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Specialization" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendMail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageFormat" type="tns:MessageFormat" />
          <s:element minOccurs="1" maxOccurs="1" name="ForwardType" type="tns:ForwardType" />
          <s:element minOccurs="1" maxOccurs="1" name="StopMail" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Flat" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFlat" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WhereFrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCrawler" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BanDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleColor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserRole">
        <s:restriction base="s:string">
          <s:enumeration value="Admin" />
          <s:enumeration value="Moderator" />
          <s:enumeration value="TeamMember" />
          <s:enumeration value="User" />
          <s:enumeration value="Expert" />
          <s:enumeration value="Anonym" />
          <s:enumeration value="Group" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageFormat">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Text" />
              <s:enumeration value="Html" />
              <s:enumeration value="TextHtml" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="ForwardType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Private" />
          <s:enumeration value="Public" />
          <s:enumeration value="Forum" />
          <s:enumeration value="Moderator" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUserInfoByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByIDResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dtc" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupListResult" type="tns:group_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="group_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="groups" type="tns:ArrayOfGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="group" type="tns:group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="group">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GroupInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupInfoResult" type="tns:group" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleResult" type="tns:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authorid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fmtmessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="userColor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="homePage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="smile" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFormattedArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleResult" type="tns:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticleByIDResult" type="tns:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormattedArticleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormattedArticleByIDResult" type="tns:article" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="first" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="last" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArticleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticleListResult" type="tns:article_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="article_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postfix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="articles" type="tns:ArrayOfArticle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArticle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="article" nillable="true" type="tns:article" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArticleListFromDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groups" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArticleListFromDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArticleListFromDateResult" type="tns:article_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication">
        <s:complexType />
      </s:element>
      <s:element name="AuthenticationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:LinkType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LinkType">
        <s:restriction base="s:string">
          <s:enumeration value="MSDN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkResult" type="tns:link" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="link">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PostMessage" />
  </wsdl:message>
  <wsdl:message name="PostMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PostMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByID" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupList" />
  </wsdl:message>
  <wsdl:message name="GetGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GroupInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GroupInfo" />
  </wsdl:message>
  <wsdl:message name="GroupInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GroupInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetArticleSoapIn">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="GetArticleSoapOut">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:message name="GetFormattedArticleSoapIn">
    <wsdl:part name="parameters" element="tns:GetFormattedArticle" />
  </wsdl:message>
  <wsdl:message name="GetFormattedArticleSoapOut">
    <wsdl:part name="parameters" element="tns:GetFormattedArticleResponse" />
  </wsdl:message>
  <wsdl:message name="GetArticleByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetArticleByID" />
  </wsdl:message>
  <wsdl:message name="GetArticleByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetArticleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetFormattedArticleByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFormattedArticleByID" />
  </wsdl:message>
  <wsdl:message name="GetFormattedArticleByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFormattedArticleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleListSoapIn">
    <wsdl:part name="parameters" element="tns:ArticleList" />
  </wsdl:message>
  <wsdl:message name="ArticleListSoapOut">
    <wsdl:part name="parameters" element="tns:ArticleListResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleListFromDateSoapIn">
    <wsdl:part name="parameters" element="tns:ArticleListFromDate" />
  </wsdl:message>
  <wsdl:message name="ArticleListFromDateSoapOut">
    <wsdl:part name="parameters" element="tns:ArticleListFromDateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetLink" />
  </wsdl:message>
  <wsdl:message name="GetLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkResponse" />
  </wsdl:message>
  <wsdl:message name="PostFileSoapIn">
    <wsdl:part name="parameters" element="tns:PostFile" />
  </wsdl:message>
  <wsdl:message name="PostFileSoapOut">
    <wsdl:part name="parameters" element="tns:PostFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2Soap">
    <wsdl:operation name="PostMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts Unicode formatted message postings.</wsdl:documentation>
      <wsdl:input message="tns:PostMessageSoapIn" />
      <wsdl:output message="tns:PostMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get inforamtion about user.</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get inforamtion about user by id.</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoByIDSoapIn" />
      <wsdl:output message="tns:GetUserInfoByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of groups.</wsdl:documentation>
      <wsdl:input message="tns:GetGroupListSoapIn" />
      <wsdl:output message="tns:GetGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns information about the group.</wsdl:documentation>
      <wsdl:input message="tns:GroupInfoSoapIn" />
      <wsdl:output message="tns:GroupInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns information about the article.</wsdl:documentation>
      <wsdl:input message="tns:GetArticleSoapIn" />
      <wsdl:output message="tns:GetArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns formated article.</wsdl:documentation>
      <wsdl:input message="tns:GetFormattedArticleSoapIn" />
      <wsdl:output message="tns:GetFormattedArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArticleByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns information about the article by message ID.</wsdl:documentation>
      <wsdl:input message="tns:GetArticleByIDSoapIn" />
      <wsdl:output message="tns:GetArticleByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticleByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns formated article by message ID.</wsdl:documentation>
      <wsdl:input message="tns:GetFormattedArticleByIDSoapIn" />
      <wsdl:output message="tns:GetFormattedArticleByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ArticleList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of articles.</wsdl:documentation>
      <wsdl:input message="tns:ArticleListSoapIn" />
      <wsdl:output message="tns:ArticleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ArticleListFromDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of articles from specified date.</wsdl:documentation>
      <wsdl:input message="tns:ArticleListFromDateSoapIn" />
      <wsdl:output message="tns:ArticleListFromDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs user authentication.</wsdl:documentation>
      <wsdl:input message="tns:AuthenticationSoapIn" />
      <wsdl:output message="tns:AuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns link information.</wsdl:documentation>
      <wsdl:input message="tns:GetLinkSoapIn" />
      <wsdl:output message="tns:GetLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a file to user storage.</wsdl:documentation>
      <wsdl:input message="tns:PostFileSoapIn" />
      <wsdl:output message="tns:PostFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service2Soap" type="tns:Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostMessage">
      <soap:operation soapAction="http://rsdn.ru/ws2/PostMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByID">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetUserInfoByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupInfo">
      <soap:operation soapAction="http://rsdn.ru/ws2/GroupInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticle">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetFormattedArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetArticleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticleByID">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetFormattedArticleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArticleList">
      <soap:operation soapAction="http://rsdn.ru/ws2/ArticleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArticleListFromDate">
      <soap:operation soapAction="http://rsdn.ru/ws2/ArticleListFromDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <soap:operation soapAction="http://rsdn.ru/ws2/Authentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLink">
      <soap:operation soapAction="http://rsdn.ru/ws2/GetLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostFile">
      <soap:operation soapAction="http://rsdn.ru/ws2/PostFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service2Soap12" type="tns:Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostMessage">
      <soap12:operation soapAction="http://rsdn.ru/ws2/PostMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByID">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetUserInfoByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupInfo">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GroupInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticle">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetFormattedArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticleByID">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetArticleByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormattedArticleByID">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetFormattedArticleByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArticleList">
      <soap12:operation soapAction="http://rsdn.ru/ws2/ArticleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArticleListFromDate">
      <soap12:operation soapAction="http://rsdn.ru/ws2/ArticleListFromDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <soap12:operation soapAction="http://rsdn.ru/ws2/Authentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLink">
      <soap12:operation soapAction="http://rsdn.ru/ws2/GetLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostFile">
      <soap12:operation soapAction="http://rsdn.ru/ws2/PostFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The service provides access to the RSDN forums. </wsdl:documentation>
    <wsdl:port name="Service2Soap" binding="tns:Service2Soap">
      <soap:address location="http://www.rsdn.ru/WS/Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service2Soap12" binding="tns:Service2Soap12">
      <soap12:address location="http://www.rsdn.ru/WS/Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>